body{background-color: #000; overflow-x:hidden;}
a{text-decoration: none;}

.container{margin-top:2em;}

.banner{color:#9f3;background-color: #000;}
.banner h1{font-family: 'Press Start 2P', cursive;}
.banner h2{font-family: 'Press Start 2P', cursive; font-size: 300%}

h1{font-family: 'Stalinist One', cursive; font-size: 400%;}
h2{font-family: 'Stalinist One', cursive; font-size: 200%;}
li{list-style-type: none;}

.round-tl{border-top-left-radius: 50px;}
.round-tr{border-top-right-radius: 50px;}
.round-bl{border-bottom-left-radius: 50px;}
.round-br{border-bottom-right-radius: 50px;}
.round{border-radius:50px;}
.thick-border{border:10px black solid;}

.slide h1{border-radius: 25px; border:thick solid; }
.slide h2{border-radius: 25px; border:thin solid; }
.slide p{font-size: 130%;border-radius: 10px;}


.blue{		background-color: blue;}

.orange{	background-color: #FFA500;color:#fff;}
.white{	background-color: #FFF;color:#000;}

.terminal{background: #000;color: #fff;}
.terminal h2{color: #9f3}

.green{background-color: #060;color: #0c0;}
.green p{color:#fff;}

.brown{background-color: #963; color:#fff;}
.bg-white{background-color: #fff}

div{margin:0;padding: 0;}